<launch>

  <arg name="visualize" default="false" />
  <arg name="camera_name" default="ego_video" />
  <arg name="calibration_file" default="" />
  <arg name="overlay" default="false" />

  <node pkg="ibmmpy" type="fixation_detector.py" name="fixation_detector" output="screen">
    <param name="calibration_world" value="true" />
    <param name="calibration_eye0" value="false" />
    <param name="calibration_eye1" value="false" />
    <param name="calibration_topic" value="/gaze" />
    <param name="calibration_file" value="$(arg calibration_file)" />
  </node>
  
  <group if="$(arg visualize)">
  
      <include file="$(find ibmmpy)/launch/fixation_visualizer.launch">
        <arg name="overlay" value="$(arg overlay)" />
      </include>

  </group>
  
</launch>
