<launch>

<arg name="calibration_bag_file" default="" />
<arg name="calibration_bag_topic" default="/gaze" />
<arg name="calibration_log_dir" default="" />
<arg name="calibration_load_dir" default="" />



  <node pkg="ibmmpy" type="fixation_detector.py" name="fixation_detector" output="screen">
    <param name="calibration_world" value="true" />
    <param name="calibration_eye0" value="false" />
    <param name="calibration_eye1" value="false" />
    <param name="calibration_bag_topic" value="$(arg calibration_bag_topic)" />
    <param name="calibration_bag_file" value="$(arg calibration_bag_file)" />
    <param name="calibration_bag_log_dir" value="$(arg calibration_log_dir)" />
    <param name="calibration_load_dir" value="$(arg calibration_load_dir)" />

  </node>

</launch>
